    <!-- Your banner code -->
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "keys-door.jpg" %>);">

      <div class="banner-content">
        <h1>Home Inspection Pré-Achat</h1>
        <h3>Notre expertise au service de votre investissement</h3>
      </div>
    </div>

    <!-- A Propos code -->
    <div id= "propos" class="container text-center big-padded">
      <div class="row">
        <div class="col-xs-12">
          <div class="title small-padded">
            <h2>À Propos</h2>
            <div class="line text-center"></div>
          </div>
          <div class="description">
            <p>
                  Acheter une maison ou un appartement est l'un des <strong>actes les plus important de votre vie</strong>. Vous avez eu un coup de coeur, mais avant d'acheter, vous avez besoin d'être rassuré́ sur ce bien immobilier afin d'<strong>éviter les mauvaises surprises</strong>. Nous vous proposons<strong> une inspection rigoureuse du bien</strong> que vous envisagez d'acheter.
                  L'équipe H2I, <strong>experte en gestion immobilière depuis plus de 15 ans</strong>, vous accompagne et vous conseille tout au long de votre achat.
            </p>
          </div>
        </div>
      </div>
    </div>

      <!-- Nos préstations code -->
      <div id= "prestations" class="container big-padded">
        <div class="row">
          <div class="col-xs-12">
            <div class="title text-center small-padded">
              <h2>Nos Prestations</h2>
              <div class="line text-center"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- 1st line of Mosaic section code -->

      <div class="mosaic">
        <div class="col-sm-6 col-xs-12">
          <div class="image-mosaic" style="background-image: url(<%= image_path "inspection.jpg" %>);"></div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="text-mosaic">
            <span class="title-mosaic">
              <h4>Inspection</h4>
              <p>Notre équipe vous accompagne durant la visite du bien que vous souhaitez acquérir et met à votre disposition son expertise. Nous vérifions pour vous: l'électricité, la plomberie, le chauffage, la toiture, l'humidité, les sols, les murs, le terrain, la conformité des lieux et les imageries thermiques.</p>
            </span>
          </div>
        </div>
      </div>

      <!-- 2nd line of Mosaic section code for Destkop -->
      <div class="desktop">
        <div class="mosaic">
          <div class="col-sm-6 col-xs-12">
            <div class="text-mosaic text-right">
              <span class="title-mosaic">
                <h4>Livrable</h4>
                <p>En complément des conseils que nous vous donnerons à chaud pendant la visite, un rapport technique plus détaillé vous sera fourni quelques jours après l'inspection du bien. Vous aurez ainsi toutes les cartes en main pour faire le bon choix.</p>
              </span>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="image-mosaic" style="background-image: url(<%= image_path "livrable.jpg" %>);"></div>
          </div>
        </div>
      </div>

      <!-- 2nd line of Mosaic section code for Mobile -->

    <div class="mobile">
      <div class="mosaic">
        <div class="col-sm-6 col-xs-12">
          <div class="image-mosaic" style="background-image: url(<%= image_path "livrable.jpg" %>);"></div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="text-mosaic second-line">
            <span class="title-mosaic">
              <h4>Livrable</h4>
              <p>En complément des conseils que nous vous donnerons à chaud pendant la visite, un rapport technique plus détaillé vous sera fourni quelques jours après l'inspection du bien. Vous aurez ainsi toutes les cartes en main pour faire le bon choix.</p>
            </span>
          </div>
        </div>
      </div>
    </div>

      <!-- 3rd line of Mosaic section code -->

      <div class="mosaic">
        <div class="col-sm-6 col-xs-12">
        <div class="image-mosaic" style="background-image: url(<%= image_path "accompagnement.jpg" %>);"></div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="text-mosaic">
            <span class="title-mosaic">
              <h4>Suivi</h4>
              <p>Suite à la lecture de notre rapport technique, vous souhaitez réaliser des travaux dans votre nouveau bien ? Nous estimons pour vous les coûts des interventions en vous faisant bénificier des tarifs préférentiels H2I, négociés auprès de nos artisans et entreprises partenaires. Enfin, nous vous accompagnons tout au long des travaux jusqu'à votre pleine satisfaction.</p>
            </span>
          </div>
        </div>
      </div>

      <!-- Avantages code -->
      <div class="container big-padded">
        <div class="row">
          <div id="avantages">
            <div class="col-xs-12">
              <div  class="title text-center small-padded">
                <h2>Les Avantages</h2>
                <div class="line text-center"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Avantages mosaic -->
      <div class="mosaic">
        <div class="avantages">
          <div class="col-sm-4 col-xs-12">
            <div class="section section-gauche">
              <span class="title-mosaic">
              <h4>Sécurité</h4>
              <p>Une action qui vous engage sur une vie.</p>
              </span>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="section section-milieu">
              <span class="title-mosaic">
              <h4>Confiance</h4>
              <p>Acheter une maison ou un appartement est l'un des actes les plus important de votre vie. Vous avez eu un coup de coeur, mais avant d'acheter, comme</p>
              </span>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="section section-droite">
              <span class="title-mosaic">
                <h4>Transparence</h4>
                <p>Acheter une maison ou un appartement est l'un des actes les plus important de votre vie. Vous avez eu un coup de coeur, mais avant d'acheter, comme</p>
              </span>
            </div>
          </div>
        </div>
      </div>

        <!-- parallax -->
          <div class="parallax">
            <div class="col-xs-12 remove-padding">
              <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "parallax-2.jpg" %>);">
                <div class="parallax-content">
                  <h2>Intéressé(e) ?</h2>
                  <h5>Discutons en dès maintenant grâce à notre tchat</h5>
                </div>
              </div>
            </div>
          </div>

       <!-- Tarifs code -->
      <div class="container text-center big-padded">
        <div class="row">
          <div id="tarifs">
            <div class="col-xs-12">
              <div class="title small-padded">
                <h2>Nos Tarifs</h2>
                <div class="line text-center">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="box box-left">
                <h2>A partir de 119 €</h2>
                <p><strong>Accompagnement comprenant :</strong></p>
                 <ul class='list-unstyled'>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Visite du bien à vos côtés</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Étude sur place de l’état de l’éléctricité et plomberie</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Conseil sur les futurs travaux à prévoir</li>
                </ul>
              </div>
              <div class="box box-bottom-left">
                <div class="layer">
                  <h3>Idéal 1er Achat</h3>
                </div>
              </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="box box-right">
                <h2>A partir de 4€/m2</h2>
                <p><strong>Expertise immoblière complète comprenant :</strong></p>
                <ul class='list-unstyled'>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Visite du bien à vos côtés</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Analyse en profondeur de l’état de l’ensemble du bien</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Etude par nos experts des documents disponibles</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Rendu d’un rapport détaillé</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Chiffrages de l’ensemble des travaux à prévoir</li>
                </ul>
              </div>
              <div class="box box-bottom-right">
                <div class="layer">
                  <h3>Idéal Investisseur</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact code -->

    <div id= "contact" class="container big-padded">
      <div class="row">
        <div class="col-xs-12">
          <div class="title text-center small-padded">
            <h2>Contact</h2>
            <div class="line text-center"></div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div id="map" style="width: 100%; height: 300px;"></div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="contact">
              <h5>Vous avez des questions ? Nous serions ravis d'y répondre</strong></h5>
              <p><i class="fa fa-phone" aria-hidden="true"></i> 06 20 30 40 50</p>
              <p><i class="fa fa-envelope" aria-hidden="true"></i> <%= mail_to "matthieu@h2i.fr", "matthieu@h2i.fr", class: "email" %>
              <p> <i class="fa fa-map-marker" aria-hidden="true"></i> 18 avenue de la croisette, Cannes 06040</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  Map code -->

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>

    <script type="text/javascript">
    var myLatlng = new google.maps.LatLng(48.8655909, 2.378983);

    var myOptions = {
      zoom: 16,
      center: myLatlng,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles:[{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}]
    };

    var map = new google.maps.Map(document.getElementById('map'), myOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: "Nous sommes ici"
    });
    </script>
